# Air

In [82]:
import pandas as pd
import os

In [130]:
df_from_each_file = (pd.read_csv("air/{}".format(f)) for f in os.listdir("air"))
frame   = pd.concat(df_from_each_file, ignore_index=True)

In [131]:
frame.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,6.0,18.0,5.0,NaN,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng
1,2,2013,3,1,1,6.0,15.0,5.0,NaN,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng
2,3,2013,3,1,2,5.0,18.0,NaN,NaN,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng
3,4,2013,3,1,3,6.0,20.0,6.0,NaN,NaN,NaN,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng
4,5,2013,3,1,4,5.0,17.0,5.0,NaN,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng

In [132]:
frame.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,420768.000000,420768.000000,420768.000000,420768.000000,420768.000000,412029.000000,414319.000000,411747.000000,408652.000000,400067.000000,407491.000000,420370.000000,420375.000000,420365.000000,420378.000000,420450.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,79.793428,104.602618,15.830835,50.638586,1230.766454,57.372271,13.538976,1010.746982,2.490822,0.064476,1.729711
std,10122.116943,1.177198,3.448707,8.800102,6.922195,80.822391,91.772426,21.650603,35.127912,1160.182716,56.661607,11.436139,10.474055,13.793847,0.821004,1.246386
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.400000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,20.000000,36.000000,3.000000,23.000000,500.000000,11.000000,3.100000,1002.300000,-8.900000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,55.000000,82.000000,7.000000,43.000000,900.000000,45.000000,14.500000,1010.400000,3.100000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,111.000000,145.000000,20.000000,71.000000,1500.000000,82.000000,23.300000,1019.000000,15.100000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,999.000000,999.000000,500.000000,290.000000,10000.000000,1071.000000,41.600000,1042.800000,29.100000,72.500000,13.200000

In [133]:
frame[frame.isnull().any(axis=1)].count()

No         38600
year       38600
month      38600
day        38600
hour       38600
PM2.5      29861
PM10       32151
SO2        29579
NO2        26484
CO         17899
O3         25323
TEMP       38202
PRES       38207
DEWP       38197
RAIN       38210
wd         36778
WSPM       38282
station    38600
dtype: int64

In [134]:
frame.isnull().sum()

No             0
year           0
month          0
day            0
hour           0
PM2.5       8739
PM10        6449
SO2         9021
NO2        12116
CO         20701
O3         13277
TEMP         398
PRES         393
DEWP         403
RAIN         390
wd          1822
WSPM         318
station        0
dtype: int64

In [135]:
frame['PM2.5'].fillna(method="bfill", inplace=True)
frame['PM10'].fillna(method="bfill", inplace=True)
frame['SO2'].fillna(method="bfill", inplace=True)
frame['NO2'].fillna(method="bfill", inplace=True)
frame['CO'].fillna(method="bfill", inplace=True)
frame['O3'].fillna(method="bfill", inplace=True)
frame['TEMP'].fillna(method="bfill", inplace=True)
frame['PRES'].fillna(method="bfill", inplace=True)
frame['DEWP'].fillna(method="bfill", inplace=True)
frame['RAIN'].fillna(method="bfill", inplace=True)
frame['WSPM'].fillna(method="bfill", inplace=True)
frame['wd'].fillna(method="bfill", inplace=True)

In [136]:
#from sklearn.preprocessing import LabelEncoder

In [137]:
#encoder=LabelEncoder()

In [138]:
frame = pd.get_dummies(frame, columns=['wd'])

In [139]:
frame[frame.isnull().any(axis=1)].iloc[:,8:]

Empty DataFrame
Columns: [NO2, CO, O3, TEMP, PRES, DEWP, RAIN, WSPM, station, wd_E, wd_ENE, wd_ESE, wd_N, wd_NE, wd_NNE, wd_NNW, wd_NW, wd_S, wd_SE, wd_SSE, wd_SSW, wd_SW, wd_W, wd_WNW, wd_WSW]
Index: []

[0 rows x 25 columns]

In [140]:
frame.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,6.0,18.0,5.0,5.0,800.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,6.0,15.0,5.0,5.0,800.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,5.0,18.0,6.0,5.0,700.0,...,0,0,0,0,0,0,0,0,1,0
3,4,2013,3,1,3,6.0,20.0,6.0,5.0,600.0,...,0,0,0,0,0,0,0,1,0,0
4,5,2013,3,1,4,5.0,17.0,5.0,5.0,600.0,...,0,0,0,0,0,0,0,0,1,0

In [141]:
frame['Date']=pd.to_datetime(frame[['year','month','day', "hour"]])

In [143]:
frame.drop(["year", "month", "day","hour"], inplace=True, axis=1)

In [144]:
#frame['wd'] = encoder.fit_transform(frame['wd'])

In [146]:
frame

,No,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,...,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,Date
0,1,6.0,18.0,5.0,5.0,800.0,88.0,0.1,1021.1,-18.6,...,1,0,0,0,0,0,0,0,0,2013-03-01 00:00:00
1,2,6.0,15.0,5.0,5.0,800.0,88.0,-0.3,1021.5,-19.0,...,1,0,0,0,0,0,0,0,0,2013-03-01 01:00:00
2,3,5.0,18.0,6.0,5.0,700.0,52.0,-0.7,1021.5,-19.8,...,0,0,0,0,0,0,0,1,0,2013-03-01 02:00:00
3,4,6.0,20.0,6.0,5.0,600.0,73.0,-1.0,1022.7,-21.2,...,0,0,0,0,0,0,1,0,0,2013-03-01 03:00:00
4,5,5.0,17.0,5.0,5.0,600.0,73.0,-1.3,1023.0,-21.4,...,0,0,0,0,0,0,0,1,0,2013-03-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420763,35060,27.0,72.0,8.0,92.0,800.0,16.0,10.3,1014.2,-12.4,...,0,0,0,0,0,0,1,0,0,2017-02-28 19:00:00
420764,35061,47.0,55.0,17.0,86.0,1100.0,19.0,9.8,1014.5,-9.9,...,1,0,0,0,0,0,0,0,0,2017-02-28 20:00:00
420765,35062,18.0,28.0,4.0,30.0,500.0,64.0,9.1,1014.6,-12.7,...,0,0,0,0,0,0,0,0,0,2017-02-28 21:00:00
420766,35063,18.0,20.0,9.0,33.0,500.0,59.0,7.1,1015.2,-13.2,...,0,0,0,0,0,0,0,1,0,2017-02-28 22:00:00
420767,35064,15.0,22.0,13.0,34.0,500.0,60.0,7.4,1014.9,-11.9,...,0,0,0,0,0,0,0,0,0,2017-02-28 23:00:00

In [150]:
frame.isnull().sum()

No         0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
WSPM       0
station    0
wd_E       0
wd_ENE     0
wd_ESE     0
wd_N       0
wd_NE      0
wd_NNE     0
wd_NNW     0
wd_NW      0
wd_S       0
wd_SE      0
wd_SSE     0
wd_SSW     0
wd_SW      0
wd_W       0
wd_WNW     0
wd_WSW     0
Date       0
dtype: int64

In [156]:
for station in frame.station.unique():
    station_df=frame[frame.station == station]
    station_df.set_index(["No", "Date"], inplace=True)
    station_df.drop("station", axis=1, inplace=True)
    station_df.to_csv("station_{}.csv".format(station))

In [173]:
df_from_each_file = (pd.read_csv("air/{}".format(f)) for f in os.listdir("air"))

#list_cols=[ col for col in list(df_from_each_file.columns) if col not in ["station", "Date"]]
frame = pd.concat(df_from_each_file, ignore_index=True)
frame['Date'] = pd.to_datetime(frame[['year', 'month', 'day', "hour"]])
frame.drop(["year", "month", "day", "hour"], inplace=True, axis=1)
frame.fillna(method="backfill", inplace=True)
frame = pd.get_dummies(frame, columns=['wd'])
frame.set_index([ "station", "Date"], inplace=True)
frame = frame.apply(pd.to_numeric, errors='coerce')

In [174]:
frame[frame.isnull().any(axis=1)]

Empty DataFrame
Columns: [No, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, WSPM, wd_E, wd_ENE, wd_ESE, wd_N, wd_NE, wd_NNE, wd_NNW, wd_NW, wd_S, wd_SE, wd_SSE, wd_SSW, wd_SW, wd_W, wd_WNW, wd_WSW]
Index: []

[0 rows x 28 columns]

In [176]:
for station in frame.station.unique():
    print(station)

AttributeError: 'MultiIndex' object has no attribute 'station'

In [184]:
frame.index.levels[0]

Index(['Aotizhongxin', 'Changping', 'Dingling', 'Dongsi', 'Guanyuan',
       'Gucheng', 'Huairou', 'Nongzhanguan', 'Shunyi', 'Tiantan', 'Wanliu',
       'Wanshouxigong'],
      dtype='object', name='station')

In [185]:
frame.loc[['Aotizhongxin']]

                                     No  PM2.5  PM10   SO2   NO2     CO    O3  \
station      Date
Aotizhongxin 2013-03-01 00:00:00      1    4.0   4.0   4.0   7.0  300.0  77.0
             2013-03-01 01:00:00      2    8.0   8.0   4.0   7.0  300.0  77.0
             2013-03-01 02:00:00      3    7.0   7.0   5.0  10.0  300.0  73.0
             2013-03-01 03:00:00      4    6.0   6.0  11.0  11.0  300.0  72.0
             2013-03-01 04:00:00      5    3.0   3.0  12.0  12.0  300.0  72.0
...                                 ...    ...   ...   ...   ...    ...   ...
             2017-02-28 19:00:00  35060   12.0  29.0   5.0  35.0  400.0  95.0
             2017-02-28 20:00:00  35061   13.0  37.0   7.0  45.0  500.0  81.0
             2017-02-28 21:00:00  35062   16.0  37.0  10.0  66.0  700.0  58.0
             2017-02-28 22:00:00  35063   21.0  44.0  12.0  87.0  700.0  35.0
             2017-02-28 23:00:00  35064   19.0  31.0  10.0  79.0  600.0  42.0

                                  TEMP    PRES  DEWP  ...  wd_NNW  wd_NW  \
station      Date                                     ...
Aotizhongxin 2013-03-01 00:00:00  -0.7  1023.0 -18.8  ...       1      0
             2013-03-01 01:00:00  -1.1  1023.2 -18.2  ...       0      0
             2013-03-01 02:00:00  -1.1  1023.5 -18.2  ...       1      0
             2013-03-01 03:00:00  -1.4  1024.5 -19.4  ...       0      1
             2013-03-01 04:00:00  -2.0  1025.2 -19.5  ...       0      0
...                                ...     ...   ...  ...     ...    ...
             2017-02-28 19:00:00  12.5  1013.5 -16.2  ...       0      1
             2017-02-28 20:00:00  11.6  1013.6 -15.1  ...       0      0
             2017-02-28 21:00:00  10.8  1014.2 -13.3  ...       0      1
             2017-02-28 22:00:00  10.5  1014.4 -12.9  ...       1      0
             2017-02-28 23:00:00   8.6  1014.1 -15.9  ...       0      0

                                  wd_S  wd_SE  wd_SSE  wd_SSW  wd_SW  wd_W  \
station      Date
Aotizhongxin 2013-03-01 00:00:00     0      0       0       0      0     0
             2013-03-01 01:00:00     0      0       0       0      0     0
             2013-03-01 02:00:00     0      0       0       0      0     0
             2013-03-01 03:00:00     0      0       0       0      0     0
             2013-03-01 04:00:00     0      0       0       0      0     0
...                                ...    ...     ...     ...    ...   ...
             2017-02-28 19:00:00     0      0       0       0      0     0
             2017-02-28 20:00:00     0      0       0       0      0     0
             2017-02-28 21:00:00     0      0       0       0      0     0
             2017-02-28 22:00:00     0      0       0       0      0     0
             2017-02-28 23:00:00     0      0       0       0      0     0

                                  wd_WNW  wd_WSW
station      Date
Aotizhongxin 2013-03-01 00:00:00       0       0
             2013-03-01 01:00:00       0       0
             2013-03-01 02:00:00       0       0
             2013-03-01 03:00:00       0       0
             2013-03-01 04:00:00       0       0
...                                  ...     ...
             2017-02-28 19:00:00       0       0
             2017-02-28 20:00:00       1       0
             2017-02-28 21:00:00       0       0
             2017-02-28 22:00:00       0       0
             2017-02-28 23:00:00       0       0

[35064 rows x 28 columns]